.page-container {
    width: 99vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    padding: 20px;
    height: 50vh;
    max-height: 50vh;
    overflow: auto;
    width: 50vw;
    border: 1px solid #DCDFE6;
    background-color: #fdfdfd;
    box-shadow: 10px 10px 5px #888888;;
    position: relative;
}

.half-width {
    width: calc(50% - 20px);
}

.content-footer {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
}

.full-width {
    width: 100% !important;
}

.color-green {
    color: #67C23A;
}